* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue Light', Tahoma, sans-serif;
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('helveticaneue-light-webfont.eot');
    src: url('helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('helveticaneue-light-webfont.woff2') format('woff2'),
    url('helveticaneue-light-webfont.woff') format('woff'),
    url('helveticaneue-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    height: 1020px;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.menu {
    height: 40px;
    background: url('../img/upperbg.png');
    font-size: 14px;
    list-style: none;
}

.menu ul {
    float: right;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: block;
    padding: 0 15px;
    color: #60b5ed;
    line-height: 40px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #4eabda;
    color: #fff;
}

.img span {
    display: block;
    margin: 5px 3px 0 2px;
}

.border {
    margin-top: 3px;
}

.flag a::before {
    margin: 5px 10px 0;
    float: left;
    content: url('../img/flag.png');
}

.min span:hover {
    text-decoration: underline;
}

.regin {
    margin-right: 15px;
    padding-left: 15px;
    background: linear-gradient(to bottom, #4faedb, #2e7ac4);
    color: #fff;
}

.regin > li > a {
    color: #fff;
    text-decoration: underline;
}

.menu::after {
    display: block;
    clear: both;
    content: '';
}

.box {
    width: 500px;
    margin: 180px 0 0 450px;
    background-color: rgba(39, 41, 15, .5);
    text-align: center;
    box-sizing: border-box;
}

.cadastre {
    position: relative;
    height: 20px;
    padding-top: 23px;
    font-size: 20px;
    text-align: center;
}

.facebook {
    display: block;
    width: 278px;
    margin: 40px 0 0 120px;
    padding: 0 auto;
    border: 0;
    border-radius: 4px;
    background: linear-gradient(to bottom, #3e559b, #2b4276);
    color: #fff;
    font-family: Arial, sans-serif;
    line-height: 35px;
    text-decoration: none;
    cursor: pointer;
}


.facebook::before {
    padding: 0 15px;
    float: left;
    border-right: 2px groove #4c68a9;
    font-size: 24px;
    font-weight: 900;
    content: 'f';
}

.login {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.with {
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 200;
}

.ou {
    margin: 25px 0 25px 8px;
}

.info {
    width: 175px;
    height: 15px;
    margin: 0 25px 15px 33px;
    padding: 10px 100px 10px 5px;
    border: 0;
    background: #0f0f0f;
    text-align: left;
    box-shadow: 0 4px 2px -2px rgb(69, 69, 69);
}

.info:focus {
    background: #1b5288;
    box-shadow: 0 0 3px 2px #689bcc;
}

p {
    margin: 0 10px 20px -5px;
    color: #c2c2c2;
}

.check {
    padding: 5px 17px 0 0;
    font-size: 14px;
}

label {
    padding-left: 15px;
}

.button {
    width: 150px;
    height: 40px;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(#73bffa, #4693cf) #3685c2;
    color: #fff;
    cursor: pointer;
}

.footer {
    width: 330px;
    margin: 22px 0 20px 90px;
    padding-bottom: 30px;
    color: #adadaa;
    font-size: 11px;
}
